.profile__avatar-button {
    width: 26px;
    height: 26px;
    background-color: transparent;
    background-image: url(../../../image/painsile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0;
}