.profile__info {
    display: flex;
    flex-direction: column;
    gap: 9px;
    overflow: hidden;
    margin: auto 0;
}

@media screen and (max-width: 710px) {
    .profile__info {
        padding: 0 15px;
    }
}