.popup__title {
    background-color: #fff;
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
}

@media screen and (max-width: 1279px) {
    .popup__title {
        font-size: 18px;
    }
}