.login__title {
    margin: 0 0 50px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
  }
  
  @media screen and (max-width: 373px) { 
    .login__title {
      margin: 0 0 40px 0;
      font-size: 20px;
      line-height: 24px;
    }
  }