.header__burger {
    display: none;
  }
  
  @media screen and (max-width: 767px) {
    .header__burger {
      display: block;
      position: relative;
      width: 24px;
      height: 21px;
      margin:0 27px 0 0;
      padding: 0;
      border: none;
      background-color: #000;
      cursor: pointer;
    }
  
    .header__burger::before, 
    .header__burger::after {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 3px;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger span {
      content: '';
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  
    .header__burger::before {
      left: 0;
      top: 0;
    }
  
    .header__burger::after {
      left: 0;
      bottom: 0;
    }
  
    .header__burger:hover {
      background: transparent center no-repeat;
      cursor: pointer;
      outline-style: none;
      opacity: .6;
    }
  
    .header__burger.active {
      width: 30px;
      position: fixed;
      top: 46px;
      right: 50px;
      margin: 0;
      z-index: 3;
    }
  
    .header__burger.active::before {
      transform: rotate(45deg);
      top: 9px;
    }
  
    .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    
    .header__burger.active span{
      transform: scale(0);
    }
  
  }