.cards__info-like {
    background-image:  url(../../../image/deactive.svg);
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border: 0;
    width: 23px;
    height: 19px;
    background-color: transparent;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    flex-shrink: 0;
}

.cards__info-like:hover {
    opacity: 0.5;
}