.login__error {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FF0000;
    margin: 5px 0 0 0;
    box-sizing: border-box;
    min-height: 30px;
  }
  
  .login__error:last-of-type {
    margin: 5px 0 165px 0;
  }
  
  @media screen and (max-width: 373px) {
    .login__error {
      min-height: 20px;
    }
  
    .login__error:last-of-type {
      margin: 5px 0 135px 0;
    }
  }