@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/page/__content/page__content.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__burger/header__burger.css);
@import url(./blocks/header/__button/_type/header__button_type.css);
@import url(./blocks/header/__button/header__button.css);
@import url(../src/blocks/header/__button/header__button-register.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__list/header__list.css);
@import url(./blocks/header/__menu/header__menu.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__edit-profile/profile__edit-profile.css);
@import url(./blocks/profile/__edit-name/profile__edit-name.css);
@import url(./blocks/profile/__edit-prof/profile__edit-prof.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-wrapper/profile__avatar-wrapper.css);
@import url(./blocks/profile/__avatar-button/profile__avatar-button.css);
@import url(./blocks/profile/__button-wrapper/profile__button-wrapper.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__info/cards__info.css);
@import url(./blocks/cards/__info-wrapper/cards__info-wrapper.css);
@import url(./blocks/cards/__info-counter/cards__info-counter.css);
@import url(./blocks/cards/__container/cards__container.css);
@import url(./blocks/cards/__trash/cards__trash.css);
@import url(./blocks/cards/__trash/_inactive/cards__trash_inactive.css);
@import url(./blocks/cards/__img/cards__img.css);
@import url(./blocks/cards/__info-heading/cards__info-heading.css);
@import url(./blocks/cards/__info-like/cards__info-like.css);
@import url(./blocks/cards/__remove-button/cards__remove-button.css);
@import url(./blocks/cards/__info-like/_active/cards__info-like_active.css);
@import url(./blocks/cards/__info-like/_deactive/cards__info-like_deactive.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container-img/popup__container-img.css);
@import url(../src/blocks/popup/__container-tooltip/popup__container-tooltip.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__save-button/popup__save-button.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__full-img/popup__full.css);
@import url(./blocks/popup/__name/popup__name.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__tooltip/popup__tooltip.css);
@import url(./blocks/popup/__image-tooltip/popup__image-tooltip.css);
@import url(./blocks/register/register.css);
@import url(./blocks/register/__button-submit/register__button-submit.css);
@import url(./blocks/register/__button-submit/_invalid/register__button-submit_invalid.css);
@import url(./blocks/register/__container/register__container.css);
@import url(./blocks/register/__error/register__error.css);
@import url(./blocks/register/__form/register__form.css);
@import url(./blocks/register/__input/register__input.css);
@import url(./blocks/register/__input/_state/register__input_state.css);
@import url(./blocks/register/__login-link/register__login-link.css);
@import url(./blocks/register/__signin/register__signin.css);
@import url(./blocks/register/__title/register__title.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__button-submit/login__button-submit.css);
@import url(./blocks/login/__button-submit/_invalid/login__button-submit_invalid.css);
@import url(./blocks/login/__container/login__cintainer.css);
@import url(./blocks/login/__error/login__error.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__input/_state/login__input_state_valid.css);
@import url(./blocks/login/__title/login__title.css);
